body {
  font-family: Arial, sans-serif;
  color: #333;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url('../images/cover-background.png') no-repeat center center;
  background-size: cover;
  color: white;
}
.cover h1 {
  font-size: 40px;
  margin-left: 100px;
  text-transform: uppercase;
}
.cover h2 {
  font-size: 60px;
  font-weight: 600;
  margin: 32px 0;
  width: max-content;
  padding: 40px 350px 40px 100px;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
  background-color: #041f78;
  color: white;
}

.customer-focus {
  margin-left: 100px;
  display: flex;
  font-size: 18px;
  font-size: 24px;
}

.customer-focus .icon {
  width: 50px;
  height: 50px;
  margin-right: 40px;
  background-image: url('../images/cover_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.customer-focus .text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.customer-focus .caption {
  font-size: 16px;
  margin-top: 5px;
}

/* menu */

header {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  color: #fff;
  z-index: 500;
  transition: background-color 0.3s;
}
/* header.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
} */
section[id] {
  scroll-margin-top: 80px;
}
.logo-container {
  display: flex;
  gap: 50px;
}
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.logo1 {
  height: 50px;
  width: 200px;
  background-image: url('../images/logo1.svg');
}
.logo2 {
  height: 50px;
  width: 50px;
  background-image: url('../images/logo2.svg');
}

.menu {
  position: relative;
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 26px;
  background: transparent;
}
.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 10px;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #fff;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.menu-list {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 0;
  box-sizing: border-box;
  margin: 0;
  background: #333;
  list-style-type: none;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 300px;
  height: 100vh;
  display: flex;
  gap: 12px;
  flex-direction: column;
  /* justify-content: space-between; */
}
.menu-item {
  display: block;
  padding: 8px 40px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

/* company history */

#company-history h2 {
  text-transform: uppercase;
  width: max-content;
  background-color: #10498a;
  padding: 16px 80px 16px 100px;
  margin: 40px 0 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
}

.history-content,
.park-project-content {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding: 40px 100px;
}

.history-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history-images img {
  width: 100%;
}

.history-description {
  flex: 2;
  color: #333;
}

.history-description p,
.park-project-content p {
  font-size: 20px;
  line-height: normal;
}

.timeline {
  margin-top: 20px;
}

.timeline img {
  width: 100%;
  height: auto;
}

.timeline-event {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.timeline-event .year {
  font-weight: bold;
  color: #ee741d;
  margin-right: 10px;
}

/* leadership strategy */

#leadership-strategy h2,
#park-project h2,
#corporate-governance h2 {
  text-transform: uppercase;
  width: max-content;
  background-color: #10498a;
  padding: 16px 80px 16px 100px;
  margin: 40px 0 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
}

.leadership-content {
  padding: 40px 100px;
  gap: 40px;
}

.leader {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  border-left: 3px solid #10498a;
  padding-left: 20px;
}

.leader + .leader {
  margin-top: 40px;
}

.leader-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.leader-quote {
  flex: 1;
}

.leader-quote h3 {
  font-size: 18px;
  color: #10498a;
  font-weight: bold;
  margin-bottom: 10px;
}

.quote {
  font-size: 18px;
  line-height: 1.5;
}

.quote-mark {
  margin-top: 24px;
  height: 50px;
  width: 50px;
  background-image: url('../images/quote.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.author {
  font-size: 16px;
  margin-top: 10px;
}

/* Park project section */

.text-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-column img {
  max-width: 100%;
  height: auto;
}

.highlight {
  background-color: #ee741d;
  color: #fff;
  padding: 20px;
  margin: 20px 0;
  font-size: 18px;
}

.icon-paragraph {
  position: relative;
  padding-left: 40px;
}

.icon-paragraph::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 40px;
  background: url('../images/park_icon.svg') no-repeat center center;
  background-size: 80%;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 80px 100px;
  background-color: #f9f9fb;
}

footer a {
  display: block;
  text-decoration: none;
  color: #041f78;
}

footer a:hover {
  text-decoration: underline;
  color: #041f78;
}

.footer-content_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.footer-content_bottom {
  border-top: 1px solid #cdcdcd;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}
